.services {
  &__container {
    max-width: 1670px;
    margin: 0 auto;
    padding: 0 15px;
  }

  &__wrapper {
    padding: 60px 0;
    display: flex;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
  }
}