.production {
  &__container {
    max-width: 1670px;
    margin: 0 auto;
    padding: 0 15px;
  }

  &__wrapper {
    
  }
  
  &__cards {
    padding: 60px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  } 
}