@import '../../styles/fonts/fonts';
@import '../../styles/colors';

.title {
  background-color: #f7fafc;
  padding-top: 146px;
  @media(max-width: 800px){
    padding-top: 69.61px;
  }

  & a {
    font-family: 'FuturaBold';
    color: #969db4;
    font-size: 1rem;
  }

  &__container {
    max-width: 1670px;
    margin: 0 auto;
    padding: 0 15px;
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 3.1rem 0 3.1rem;
    @media(max-width: 750px){
      padding: 2.3rem 0 2.3rem;
    }
    @media(max-width: 375){
      padding: 1.7rem 0 1.7rem;
    }
  }

  &__page-title {
    font-size: 3.4rem;
    font-family: 'FuturaBold';
    @media(max-width: 750px){
      font-size: 2.8em;
    }
    @media(max-width: 375px){
      font-size: 2.2em;
    }
  }

  &__current-link {
    font-size: 1rem;
    font-family: 'FuturaBold';
    color: $black;
  }
}
