@import '../../styles/colors';

.main {
  &__container {
    max-width: 1670px;
    margin: 0 auto;
  }

  &__wrapper {
    
  }

  &__history {
    background-color: white;
    &-content {
      height: 720px;
      padding: 60px 0px 0px 90px;
      background-size: cover;
      background-image: url('../../styles/images/background.png');
      @media(max-width: 375px){
        height: 1500px;
        padding: 60px 0px 0px 20px;
        background-image: none;
      }
      &-title {
        font-size: 2.8em;
        font-family: 'FuturaBold';
      }
      &-text {
        @media(max-width: 375px){
          width: 340px;
        }
        width: 780px;
        text-align: justify;
      }
    }
    
  }

  &__company {
    height: 1000px;
    background-color: $blue;
    @media(max-width: 375px){
      height: 2300px;
    }
    &-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      flex-direction: row;
      &-image {
        width: 300px;
        height: 300px;
        margin-top: 80px;
      }
      &-title {
        @media(max-width: 375px){
          font-size: 1.8em;
          padding: 0px;
        }
        padding: 0px 0px 0px 40px;
        font-size: 2.8em;
        font-family: 'FuturaBold';
        color: white;
      }
      &-text {
        @media(max-width: 375px){
          width: 340px;
          padding: 0px 0px 0px 0px;
        }
        padding: 0px 0px 0px 40px;
        width: 720px;
        text-align: justify;
        color: white;
      }
    }
  }

  &__quality {
    background-color: white;
    margin-top: 40px;
    &-header {
      @media(max-width: 375px){
        padding: 0px 0px 0px 20px;
      }
      padding: 0px 0px 0px 40px;
      &-title{
        font-size: 2.8em;
        font-family: 'FuturaBold';
      }
      &-text {
        cursor: default;
        font-size: 1.2em;
      }
    }

    &-cards {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
    &-card {
      padding: 20px 40px 20px 40px;
      display: flex;
      flex-direction: column;
      &-text {
        margin-top: 10px;
        cursor: default;
        width: 200px;
        text-align: center;
        font-size: 1.1em;
      }
    }
  }

  &__shareholder {
    height: 120px;
    background-color: $blue;
    display: flex;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
    &-title {
      @media(max-width: 375px){
        font-size: 1.2em;
        padding-left: 20px;
      }
      font-size: 2.8em;
      font-family: 'FuturaBold';
      color: white;
      padding-left: 40px;
    }
    &-button {
      @media(max-width: 375px){
        margin: 10px 60px;
        padding: 10px 30px;
      }
      text-decoration: none;
      display: inline-block;
      margin: 10px 80px;
      padding: 10px 30px;
      position: relative;
      border: 2px solid white;
      font-family: 'FuturaBold';
      color: white !important;
      transition: .4s;
    }
    &-button:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      margin: auto;
      border: 2px solid rgba(0, 0, 0, 0);
      transition: .4s;
    }
    &-button:hover:after {
      border-color: white;
      width: calc(100% - 10px);
      height: calc(100% + 10px);
    }
  }

  &__points {
    background-color: white;
    text-align: center;
    &-title {
      @media(max-width: 375px){
        font-size: 2.2em;
      }
      font-family: 'FuturaBold';
      font-size: 2.8em;
      padding-bottom: 20px;
    }
  }

  &__vacancy {
    padding-top: 20px;
    background-color: white;
    &-header {
      @media(max-width: 375px){
        padding: 0px 0px 0px 20px;
      }
      padding: 0px 0px 0px 40px;
      &-title{
        font-size: 2.8em;
        font-family: 'FuturaBold';
      }
      &-text {
        cursor: default;
        font-size: 1.2em;
      }
    }

    &-cards {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }

    &-card {
      @media(max-width: 375px){
        padding: 20px 20px 20px 20px;
      }
      padding: 20px 40px 20px 40px;
      display: flex;
      flex-direction: column;
      &-title {
        text-align: center;
        font-size: 1.2em;
        font-family: 'FuturaBold';
      }
      &-text {
        @media(max-width: 375px){
          font-size: 1em;
          width: 340px;
        }
        margin-top: 10px;
        cursor: default;
        width: 480px;
        text-align: center;
        font-size: 1.1em;
        text-align: justify;
        white-space: pre-line;
      }
    }
  }
}