@import '../../styles/colors';

.export {
  background-color: $white;

  &__container {
    max-width: 1670px;
    margin: 0 auto;
    padding: 0 15px;
  }

  &__wrapper {
    padding: 60px 0;
  }

  table {
    margin: auto;
    margin-top: 10px;
    border-collapse: collapse;
    border: 2px solid $white;
    width: 100%;
    @media(min-width: 1000px){
      width: 800px;
    }
    &:first-child  {
      font-family: 'FuturaBold';
    }
  }

  caption {
    @media(max-width: 375px){
      font-size: 0.8em;
    }
    padding: 10px;
    color: $white ;
    font-family: 'FuturaBold';
    background: $blue;
    text-align: center ;
  }

  td, th {
    @media(max-width: 375px){
      font-size: 0.6em;
    }
    padding: 5px;
    border: 1px solid $black;
    font-size: 1.0rem;
  }

  tr:nth-child(1){
    font-family: 'FuturaBold';
  }

  div {
    @media(max-width: 375px){
      font-size: 1em;
    }
    text-align: justify;
  }
}
