@import '../../styles/colors';

.export {
  background-color: $white;

  &__container {
    max-width: 1670px;
    margin: 0 auto;
    padding: 0 15px;
  }

  &__wrapper {
    padding: 60px 0;
  }

  table {
    margin: auto;
    margin-top: 20px;
    border-collapse: collapse;
    border: 2px solid $white;
    width: 700px;

    &:first-child  {
      font-family: 'FuturaBold';
    }
  }

  caption {
    padding: 10px;
    color: $white ;
    font-family: 'FuturaBold';
    background: $blue;
    text-align: center ;
  }

  td, th {
    padding: 5px;
    border: 1px solid $black;
    font-size: 1.1rem;
  }

  tr:nth-child(2){
    font-family: 'FuturaBold';
  }

  div {
    font-size: 1.2rem;
  }
}
