@import '../../styles/colors';

.purchase {
  background-color: $white;

  &__container {
    max-width: 1670px;
    margin: 0 auto;
    padding: 0 15px;
  }

  &__wrapper {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
  }

  &__text {
    width: 500px;
    text-align: justify;
    &-title {
        font-size: 1.2rem;
        font-family: 'FuturaBold';
    }
  }

  &__slider {
    width: 500px;
    text-align: justify;
  }
}