@import '../../styles/colors';

.purchase {
  background-color: $white;

  &__container {
    max-width: 1670px;
    margin: 0 auto;
    padding: 0 15px;
  }

  &__wrapper {
    padding: 60px 0;
    display: flex;
    justify-content: space-between;
  }

  &__text {
    text-align: justify;
    
    &-title {
        font-size: 1.2rem;
        font-family: 'FuturaBold';
    }
  }

  &__conditions {
    position: relative;
    width: 700px;
    height: 320px;
    border: 1px solid $yellow;
    padding: 30px;
    
    &-title {
      font-size: 1.2rem;
      font-family: 'FuturaBold';
    }

    &-content {
      display: flex;
      margin-top: 5px;
      padding: 10px;
      background-color: $lightyellow;

      &-text {
        word-spacing: 1px;
        width: 300px;

        &-bold {
          font-family: 'FuturaBold';
        }
      }
    }

    &-image {
        position: absolute;
        width: 300px;
        height: 300px;
        left: 400px;
        bottom: 28px;
      }
  }
}
