@import '../../styles/colors';

.contacts {
  background-color: $white;

  &__container {
    max-width: 1670px;
    margin: 0 auto;
    padding: 0 15px;
    @media(max-width: 375px){
      padding: 0;
    }
  }

  &__wrapper {
    padding: 50px 0;
  }

  &__main {
    &-location {
      display: flex;
      width: 500px;

      &-icon {
        margin: 10px
      }

      &-content {
        &-title {
          color: $darkgrey;
          font-size: 0.8rem;
        }

        &-text {
          @media(max-width: 375px){
            font-size: 0.7rem;
            width: 360px;
          }
          font-size: 1.2rem;
        }
      }
    }

    &-bottom {
      display: flex;
      flex-wrap: wrap;
      @media(max-width: 375px){
        font-size: 0.6rem;
        width: 360px;
        margin-top: 10px;
      }
      width: 800px;
      margin-top: 20px;
    }

    &-phone {
      display: flex;

      &-icon {
        margin: 10px
      }

      &-content {
        &-title {
          color: $darkgrey;
          font-size: 0.8rem;
        }

        &-text {
          @media(max-width: 375px){
            font-size: 0.8rem;
            width: 360px;
          }
          width: 160px;
          font-size: 1.1rem;
          font-family: 'FuturaBold';
        }
      }
    }

    &-mail {
      display: flex;
      margin-left: 20px;
      @media(max-width: 375px){
        margin-left: 0px;
        margin-top: 10px
      }

      &-icon {
        margin: 10px;
      }

      &-content {
        &-title {
          color: $darkgrey;
          font-size: 0.8rem;
        }

        &-text {
          @media(max-width: 375px){
            font-size: 0.8rem;
            width: 360px;
          }
          font-size: 1.1rem;
        }
      }
    }
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    @media(max-width: 375px){
      padding-top: 10px;
    }

    &-title {
      font-family: 'FuturaBold';
      font-size: 1.1rem;
      margin: 15px 0px 20px 0px;
    }

    &_workers {
      padding: 5px;
      width: auto;
      &-title {
        padding: 5px;
        width: 300px;
      }
      &-item {
        margin: 10px;
        width: auto;

        &-position {
          font-family: 'FuturaBold';
          font-size: 1.1rem;
          @media(max-width: 375px){
            font-size: 0.6rem;
          }
        }

        &-name {
          font-size: 1.1rem;
          @media(max-width: 375px){
            font-size: 0.6rem;
          }
        }

        &-phone {
          margin-top: 2px;
          display: inline-block;
          @media(max-width: 375px){
            font-size: 0.6rem;
          }
        }
        &-phone:hover {
          text-decoration: underline;
        }

        &-mail {
          margin-top: 2px;
          display: block;
          @media(max-width: 375px){
            font-size: 0.6rem;
          }
        }
      }
    }
  }
}
