@import '../../styles/colors';

.contacts {
  background-color: $white;

  &__container {
    margin: 0 auto;
    @media(max-width: 375px){
      padding: 0;
    }
  }

  &__wrapper {
    width: 100%;
  }

  &__main {
    padding: 5px;
    &-location {
      display: flex;

      &-icon {
        margin: 10px
      }

      &-content {
        &-title {
          color: $darkgrey;
          font-size: 0.8rem;
        }

        &-text {
          font-size: 1.2rem;
        }
      }
    }

    &-bottom {
      display: flex;
      flex-wrap: wrap;
      margin-top: 20px;
    }

    &-phone {
      display: flex;
      margin-right: 20px;

      &-icon {
        margin: 10px
      }

      &-content {
        &-title {
          color: $darkgrey;
          font-size: 0.8rem;
        }

        &-text {
          width: 160px;
          font-size: 1.1rem;
          font-family: 'FuturaBold';
        }
      }
    }

    &-mail {
      display: flex;
      &-icon {
        margin: 10px;
      }

      &-content {
        &-title {
          color: $darkgrey;
          font-size: 0.8rem;
        }

        &-text {
          font-size: 1.1rem;
        }
      }
    }
  }

  &__container {
    padding: 20px 5px 5px 5px;
    display: flex;
    flex-wrap: wrap;
    &_workers {
      padding: 5px;
      width: auto;
      &-title {
        padding: 5px;
        width: 300px;
      }
      &-item {
        margin: 10px;
        width: auto;

        &-position {
          font-family: 'FuturaBold';
          font-size: 1.1rem;
        }

        &-name {
          font-size: 1.1rem;
        }

        &-phone {
          margin-top: 2px;
          display: inline-block;
        }
        &-phone:hover {
          text-decoration: underline;
        }

        &-mail {
          margin-top: 2px;
          display: block;
        }
      }
    }
  }

  &__map {
    @media(max-width: 375px){
      
    }
    
    &-title {
      font-family: 'FuturaBold';
      font-size: 1.1rem;
      margin: 15px 10px 20px 30px;
    }
  }
}
